body{
  margin: 0;
  padding: 0;
  background-image: url("fondo.jpeg");
}

.formulario{
  width: 30%;
  margin-left: 35%;
  margin-top: 100px;
  margin-right: 25%;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  float: left;
  padding: 2em 0em;
  border-radius: 10px;
  height: 400px;
}


#logo{
  width: 30%;
  float: left;
  margin-left: 35%;
}
